<style>
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 14px;
        margin-bottom: 40px
    }

    .orange-div {
        width: 200px;
        background-color: rgb(226,128,70);
        gap: 0px;
    }

    .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
    }

    .content p {
        margin: 4px;
        font-weight: 400;
        font-size: 12px; 
    }

    h3 {
        color:rgb(58, 1, 119);
        margin-bottom: 0px;
    }

    .profile {
        font-size: 130px;
        width: 130px;
        height: 130px;
    }
</style>

<div class="content">
    <img src="profile-icon-url.png" alt="Profile" class="profile-icon">
    <h3>{{name}}</h3>
    <p style="color: rgb(0, 0, 204);">{{service}}</p>
    <p style="color: rgb(189, 123, 0)">#{{code}}</p>
    <img src="https://api.qrserver.com/v1/create-qr-code/?size=100x100&data={{code}}" alt="QR Code" class="qr-code">
    <div class="orange-div">
        <div class="row"><p>organisation</p>:<p>{{organisation}}</p></div>
        <div class="row"><p>EMP ID</p>:<p>{{code}}</p></div>
        <div class="row"><p>Phone Number</p>:<p>{{phone}}</p></div>
        <div class="row"><p>joined Data</p>:<p>{{doj}}</p></div>
    </div>
</div>