header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background-color: rgb(254,254,254);
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-left h1 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.back-icon,
.more-icon {
  cursor: pointer;
  font-size: 24px;
  color: #444;
  transition: color 0.2s ease;
}

.back-icon:hover,
.more-icon:hover {
  color: #000;
}


.stepper-layout {
  display: flex;
  gap: 24px;
  height: calc(100vh - 72px);
}

mat-vertical-stepper {
  width: 300px;
  height: 100%;
  border-radius: 20px;
  margin: 5px 10px;
  border: 1px solid rgb(207, 208, 213);
  background-color: rgb(242, 243, 247);
}

.step-content {
  flex: 1;
  padding: 1rem;
  background-color: rgb(254,254,254);
  border-radius: 8px;
  width: 100%;
  height: 100%;
  gap: 5px;
  overflow-y: auto;
}
.step-description {
    font-size: 12px;
    color: gray;
    margin-top: 2px;
}
::ng-deep .select-all-option .mat-pseudo-checkbox {
  display: none !important;
}

.selected-file {
  margin-left: 1rem;
}

.upload-image {
  width: 32px;
  height: 32px;
  color : rgb(237,240,252);
  background-color: rgb(237, 240, 252);
  border: 2px dashed rgb(105, 113, 221);
  border-radius: 80px;
  padding: 40px;
  filter:  brightness(0.8);
}

::ng-deep .success{
  color: green
}

::ng-deep .error {
  color: red
}

.docUpload{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: lighter;
  border: 1.7px dashed;
  width: 120px;
  height: 100px;
  color: rgb(105, 113, 221);
  background-color: rgb(237,240,252);
  border-radius: 10px;
}

.pdf-preview{
  width: 100px;
  height: 80px;
  display: flex;
  flex-direction: column;
  background-color: rgb(242, 243, 247);
  border-radius: 8px;
  padding: 9px;
  justify-content: center;
  gap: 0px;
}

mat-form-field{
  width: 100%;
}

.hint {
  color: gray;
}

.helper-profile{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
  margin-bottom: 10px;
  align-items: center;
}

.image-name-type{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.non-profile-pic {
  display: flex;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  align-items: center;
  background-color: rgb(210, 207, 207);
  justify-content: center;
  margin-right: 12px;
  
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
}
.content-helper-name{
  display: flex;
  flex-direction: column;
}

.profile-selected{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
}

.second-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.profile-section{
  flex-grow: 1;
  height: calc(100% - 40px);
  border: 1.7px solid rgb(245, 245, 247);
  background-color: rgb(251,251,251);
  border-radius: 9px;
  margin-bottom: 8px;
  padding-left: 20px;
  padding-top: 20px;
}

p {
  display: flex;
  align-items: flex-start;
  color: gray;
  width: 250px;
}

.display-content {
  display: flex; 
  align-items: center;
  margin: 0px;
}

.content-block {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin: 8px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 14px;
    margin-bottom: 40px
}

.orange-div {
    width: 200px;
    background-color: rgb(226,128,70);
    gap: 0px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.content p {
    margin: 4px;
    font-weight: 400;
    font-size: 12px; 
}

h3 {
    color:rgb(58, 1, 119);
    margin-bottom: 0px;
}

.profile {
    font-size: 140px;
    height: 140px;
    width: 140px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    background-color: rgba(236, 234, 234, 0.556);
    height: 100%;
}

.bottom-buttons{
 display: flex; 
 justify-content: flex-end; 
 margin-top: 5px; 
 gap: 10px
}

.save-button {
  background-color: black;
  color: white;
  font-size: medium;
  align-self: end;
}