<header>
  <div class="header-left">
    <mat-icon class="back-icon" (click)="goBackToHome()">arrow_back_ios</mat-icon>
    <h1>Add Helper</h1>
  </div>
    <mat-icon class="more-icon">more_vert</mat-icon>
</header>

<div class="stepper-layout">
  <mat-vertical-stepper [linear]="true" [(selectedIndex)]="selectedIndex" orientation="vertical" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Helper Details
        <div class="step-description">Add helper details</div>
      </ng-template>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <ng-template matStepLabel>Documents
        <div class="step-description">upload related documents</div>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Review
        <div class="step-description">check the information and confirm</div>
      </ng-template>
    </mat-step>
  </mat-vertical-stepper>


  <div class="step-content">
    <form *ngIf="selectedIndex === 0" [formGroup]="firstFormGroup">
      <h1 style="margin-bottom: 0px">Helper Details</h1>
      <p style="margin-top: 4px; width: 100%;" class="hint">Track, Add and Manage all helpers at one place</p>
      <div *ngIf="!firstFormGroup.get('profilepic')?.value">
        <img src="assets/UploadImage.png" (click)="fileInput.click()" class="upload-image">
        <input hidden (change)="onFileSelected($event)" #fileInput type="file" accept="image/jepg,image/png">
      </div>
      <div *ngIf="firstFormGroup.get('profilepic')?.value">
        <img
          class="profile-selected"
          [src]="profilepicURL"
          alt="Profile"
          (click)="fileInput.click()"
        />
        <input hidden (change)="onFileSelected($event)" #fileInput type="file" accept="image/jepg,image/png">
      </div>
      <div class="hint">
        Upload photo (.png, .jpeg) size 5mb
        <span class="error" *ngIf="firstFormGroup.controls.profilepic.hasError('type')"> • JPEG/PNG required</span>
        <span class="error" *ngIf="firstFormGroup.controls.profilepic.hasError('size')"> • File too large</span>
      </div>
      
      <br>
      <div>
        <mat-label>Type of Service*</mat-label><br>
        <mat-form-field appearance="outline">
         <mat-select formControlName="typeOfService" placeholder="Select the Type of Service">
            <div class="search-container">
              <input matInput placeholder="🔎 Search languages" [formControl]="serviceSearch">
            </div>
            <mat-option *ngFor="let service of filteredService" [value] ='service'>{{service}}</mat-option>
         </mat-select>
         <mat-error>This field is Mandatory</mat-error>
        </mat-form-field>
      </div>
      <br>
      <div>
        <label>Organisaiton Name*</label>
        <br>
        <mat-form-field appearance="outline">
         <mat-select formControlName="organisationName" placeholder="Organisaiton name">
            <mat-option *ngFor="let org of organisationoptions" [value] = 'org'>{{org}}</mat-option>
         </mat-select>
          <mat-error>This field is Mandatory</mat-error>
      </mat-form-field>
      </div>
      <br>
      <div>
        <label>Full Name*</label><br>
        <mat-form-field appearance="outline">
        <input matInput placeholder="Full Name" formControlName="fullName">
        <mat-error>This field is Mandatory</mat-error>
        </mat-form-field>
      </div>
      <br>

      <!-- <section class = "check-section">
        <span>
          <mat-checkbox
          [checked] = "languages().completed"
          [indeterminate] = "partiallyCompleted()"
          (change) = "update($event.checked)"
          >
          {{languages().name}}  
          </mat-checkbox>
        </span>
        <span class="example-list-section">
          <ul>
            @for (suboption of languages().suboptions; track suboption; let i = $index) {
              <li>
                <mat-checkbox [checked]="suboption.completed" (change)="update($event.checked, i)">
                  {{suboption.name}}
                </mat-checkbox>
              </li>
            }
          </ul>
        </span>
      </section> -->

      <div>
        <label>Languages*</label><br>
        <mat-form-field appearance="outline">
        <mat-select formControlName="languages" placeholder="Select languages" multiple>
          <mat-option
            #allOption="matOption"
            (onSelectionChange)="toggleAll($event, allOption)"
            class="select-all-option"
          >
            <mat-icon *ngIf="isAllSelected()">check_box</mat-icon>
            <mat-icon *ngIf="isPartialSelected()">indeterminate_check_box</mat-icon>
            <mat-icon *ngIf="isNoneSelected()">check_box_outline_blank</mat-icon>
            <div>Select all
            <mat-divider></mat-divider>
             {{Selected.length}} / {{languagesoptions.length}}
            </div>
          </mat-option>

          <mat-option *ngFor="let lang of languagesoptions" [value]="lang">
            {{ lang }}
          </mat-option>

          <mat-select-trigger>
            {{ firstFormGroup.controls.languages.value[0] || '' }}
            @if (firstFormGroup.controls.languages.value.length > 1) {
              <span class="additional-select-languages">
                +{{ firstFormGroup.controls.languages.value.length - 1 }}
              </span>
            }
          </mat-select-trigger>
        </mat-select>
        <mat-error>This field is Mandatory</mat-error>
      </mat-form-field>
      
      </div>
      
      <br>
      <div>
        <mat-radio-group formControlName="gender" required>
        <mat-label>Gender*</mat-label>
        <br>
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
          <mat-radio-button value="others">others</mat-radio-button>
        </mat-radio-group>
      </div>
      <label>Phone*</label><br>
       <div style="display: flex; gap:2px">
        <mat-form-field style="width: 80px;" appearance="outline">
          <mat-select formControlName="contryCode">
            <mat-select-trigger>
              {{firstFormGroup.get('contryCode')?.value}}
            </mat-select-trigger>
          <mat-option *ngFor="let code of countryCode" [value]="code.dial_code">{{code.name}}{{code.dial_code}}</mat-option>
        </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Phone Number" formControlName="phoneNumber" >
          <mat-error>This field is Mandatory</mat-error>
        </mat-form-field>
       </div>
       <br>
       <div>
        <label>Email</label><br>
        <mat-form-field appearance="outline">
          <input matInput placeholder="example@abc.com" formControlName="email">
          <mat-error>Enter a valid email</mat-error>
        </mat-form-field>
       </div>
       <br>
       <div>
        <label>Choose Vehicle Type</label><br>
        <mat-form-field appearance="outline">
          <mat-select formControlName="vehicleType">
            <mat-option *ngFor="let veh of vehicleType" [value]="veh">{{veh}}</mat-option>
          </mat-select>
        </mat-form-field>
       </div>
       <br>
       <div *ngIf="showVehicleNumber">
        <label>Vehicle Number*</label> <br>
        <mat-form-field appearance="outline">
          <input matInput placeholder="TG01AB1234" formControlName="vehicleNumber" required>
          <mat-error>This field is Mandatory</mat-error>
        </mat-form-field>
       </div> 
      <label>KYC Document*</label><br>
      <div *ngIf="kycPdf" class="pdf-preview" (click)="openDocUpload('KYC')">
          <img src="assets/pdf.png" width="35px">
          <p style="margin-bottom: 4px; display: flex; margin-top: 10px;">{{ getPDFName(kycPdf.name) }} <mat-icon>loop</mat-icon></p> 
          <p style="color: gray; margin: 0px; font-size: small;">{{ kycPdf.size / (1024*1000) | number: '1.2-2' }}MB</p>
      </div>
      <div *ngIf="!kycPdf" mat-raised-button (click)="openDocUpload('KYC')" class="docUpload">+</div><br>
      <p *ngIf="!kycPdf && isMarkedAsTouched()" style="color: red; font-size: 12px; margin-top: 0px;">This field is Mandatory</p>
      <mat-divider></mat-divider>
      <div style="display: flex; justify-content: flex-end; margin-top: 5px;">
        <button mat-raised-button color="primary" (click)="goNext(stepper)" >
          <p style="display: flex; justify-content: center; align-items: center; width: 50px;">Next <mat-icon>arrow_forward_ios</mat-icon></p>
        </button>
      </div>
      
    </form>
      <form *ngIf="selectedIndex === 1" [formGroup]="secondFormGroup"style="display: flex; flex-direction: column; height: 100%;">
        <div class="second-form">
          <div>
            <h1 style="margin-bottom: 0px">Additional Documents</h1>
            <p style="margin-top: 4px; width: 100%;" class="hint">Upload realated Documents, this step is optional</p>
            <div *ngIf="additionalPdf" class="pdf-preview" (click)="openDocUpload('additional')">
                    <img src="assets/pdf.png" width="35px">
                    <p style="margin-bottom: 5px; display: flex; ">{{ getPDFName(additionalPdf.name) }} <mat-icon>loop</mat-icon></p> 
                    <p style="color: gray; margin: 0px;">{{ additionalPdf.size / (1024*1000) | number: '1.2-2' }}MB</p>
                  </div>
            <div *ngIf="!additionalPdf" mat-raised-button (click)="openDocUpload('additional')" class="docUpload">+</div><br>
          </div>
          <div style="display: flex; justify-content: flex-end; gap: 4px">
            <button mat-raised-button color="primary" (click)="selectedIndex = 0">Back</button>
            <button mat-raised-button color="primary" (click)="selectedIndex = 2">Next</button>
          </div>
        </div>
      </form>
    
    
    <div *ngIf="selectedIndex === 2" style="height: calc(100vh - 114px);" >
      <div class="profile-section" [formGroup]="firstFormGroup">
        <div class="helper-profile">
          <div class="image-name-type">
            <div *ngIf="firstFormGroup.get('profilepic')?.value">
              <img
                class="profile-pic"
                [src]="profilepicURL"
                alt="Profile"
              />
            </div>
            <div *ngIf="!firstFormGroup.get('profilepic')?.value" class="non-profile-pic">
              {{getInitial(firstFormGroup.get('fullName')?.value || '')}}
            </div>
            <div class="content-helper-name">
              <h2 style="margin-bottom: 0px;">{{ firstFormGroup.get('fullName')?.value || '' }}</h2>
              {{ firstFormGroup.get('typeOfService')?.value || '' }}
            </div>
          </div>
        </div>
        <div style="display: flex; align-items: center;">
          <span style="color: rgb(154,156,163); font-weight: 500;">
            Personal Details
          </span>
          <span style="flex-grow: 1; margin-left: 10px;">
            <mat-divider></mat-divider>
          </span>
        </div>
        <div class="content-block">
          <div class="display-content"><p>Gender:</p>{{ firstFormGroup.get('gender')?.value || '' }}</div>
          <div class="display-content"><p>Language(s):</p> {{ (firstFormGroup.get('languages')?.value || []).join(', ') }}</div>
          <div class="display-content"><p>Mobile No:</p> {{ firstFormGroup.get('contryCode')?.value || '' }}{{firstFormGroup.get('phoneNumber')?.value || ''}}</div>
          <div class="display-content"><p>Email:</p> {{ firstFormGroup.get('email')?.value || '-'}}</div>
          <div class="display-content"><p>KYC Document:</p> <a [href]="kycUrl" target="_blank">View</a><br></div>
        </div>
        <div style="display: flex; align-items: center;">
          <span style="color: rgb(154,156,163); font-weight: 500;">
            SERVICE DETAILS
          </span>
          <span style="flex-grow: 1; margin-left: 10px;">
            <mat-divider></mat-divider>
          </span>
        </div> 
        <div class="content-block">
          <div class="display-content"><p>Type:</p> {{ firstFormGroup.get('typeOfService')?.value || '' }}</div>
         <div class="display-content"><p>Organisation:</p> {{ firstFormGroup.get('organisationName')?.value || '' }}</div>
        </div> 
      </div>
      <mat-divider></mat-divider>
      <div style="display: flex; justify-content: flex-end; gap: 4px; margin-top: 10px;">
        <button mat-raised-button color="black" (click)="selectedIndex = 1">
      <mat-icon>arrow_back_ios</mat-icon>  previous
      </button>
      <button mat-raised-button color="primary" (click)="onSubmit()">+Add Helper</button>
      </div>
      

    </div>
  </div>
</div>
