<header>
  <div class="header-left">
    <mat-icon class="back-icon" (click)="goBackToHome()">arrow_back_ios</mat-icon>
    <h1>Edit Helper</h1>
  </div>
  <mat-icon class="more-icon">more_vert</mat-icon>
</header>

<div class="page-content">
  <div class="left">
    <button mat-raised-button (click)="helperDetails()">Helper Details</button>
    <button mat-raised-button (click)="docDetails()">Documents</button>
  </div>

  <div class="right">
    <form *ngIf="selectedIndex === 1" [formGroup]="firstFormGroup">
      <div>
        <img src="assets/UploadImage.png" (click)="fileInput.click()" class="upload-image">
        <input hidden (change)="onFileSelected($event)" #fileInput type="file" accept="image/jpeg,image/png">
        <span class="selected-file">{{ selectedFile?.name }}</span>
      </div>

      <div class="hint">
        Only JPEG/PNG, up to {{ MAX_MB }}MB
        <span class="error" *ngIf="firstFormGroup.get('profilepic')?.hasError('type')"> • JPEG/PNG required</span>
        <span class="error" *ngIf="firstFormGroup.get('profilepic')?.hasError('size')"> • File too large</span>
      </div>

      <br>
      <div>
        <label>Type of Service*</label><br>
        <mat-form-field appearance="outline">
          <mat-select formControlName="typeOfService">
            <mat-option *ngFor="let service of typeofserviceoptions" [value]="service">
              {{service}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <br>

      <div>
        <label>Organisation Name*</label><br>
        <mat-form-field appearance="outline">
          <mat-select formControlName="organisationName" placeholder="Organisation name">
            <mat-option *ngFor="let org of organisationoptions" [value]="org">
              {{ org }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <br>

      <div>
        <label>Full Name*</label><br>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Full Name" formControlName="fullName">
        </mat-form-field>
      </div>

      <br>

      <div>
        <label>Languages*</label><br>
        <mat-form-field appearance="outline">
          <mat-select formControlName="languages" placeholder="Select languages" multiple>
            <mat-option
              #allOption="matOption"
              (onSelectionChange)="toggleAll($event, allOption)"
              class="select-all-option"
            >
              <mat-icon *ngIf="isAllSelected()">check_box</mat-icon>
              <mat-icon *ngIf="isPartialSelected()">indeterminate_check_box</mat-icon>
              <mat-icon *ngIf="isNoneSelected()">check_box_outline_blank</mat-icon>
              <div>
                Select all
                <mat-divider></mat-divider>
                {{ Selected.length }} / {{ languagesoptions.length }}
              </div>
            </mat-option>

            <mat-option *ngFor="let lang of languagesoptions" [value]="lang">
              {{ lang }}
            </mat-option>

            <mat-select-trigger>
              {{ firstFormGroup.get('languages')?.value?.[0] || '' }}
              <span *ngIf="firstFormGroup.get('languages')?.value?.length > 1" class="additional-select-languages">
                +{{ firstFormGroup.get('languages')?.value.length - 1 }}
              </span>
            </mat-select-trigger>
          </mat-select>
        </mat-form-field>
      </div>

      <br>

      <div>
        <label>Gender*</label><br>
        <mat-radio-group formControlName="gender">
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
          <mat-radio-button value="others">Others</mat-radio-button>
        </mat-radio-group>

      </div>
      <br>

      <div>
        <label>Phone*</label><br>
        <mat-form-field appearance="outline">
          <mat-select formControlName="contryCode">
            <mat-select-trigger>
              {{firstFormGroup.get('contryCode')?.value}}
            </mat-select-trigger>
          <mat-option *ngFor="let code of countryCode" [value]="code.dial_code">{{code.name}}{{code.dial_code}}</mat-option>
        </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Phone Number" formControlName="phoneNumber" >
        </mat-form-field>
       </div>

      <br>

      <div>
        <label>Email</label><br>
        <mat-form-field appearance="outline">
          <input matInput placeholder="example@abc.com" formControlName="email">
        </mat-form-field>
      </div>

      <br>

      <div>
        <label>Choose Vehicle Type</label><br>
        <mat-form-field appearance="outline">
          <mat-select formControlName="vehicleType">
            <mat-option *ngFor="let veh of vehicleType" [value]="veh">
              {{ veh }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <br>

      <div *ngIf="showVehicleNumber">
        <label>Vehicle Number*</label><br>
        <mat-form-field appearance="outline">
          <input matInput placeholder="TG01AB1234" formControlName="vehicleNumber" required>
        </mat-form-field>
      </div>

      <br>

      <div>
        <p><strong>KYC Document:</strong><br>
          <a [href]="'http://localhost:3000/uploads/' + recievedHelper?.kycDocUrl" target="_blank">View</a>
        </p>
      </div>
      <button (click)="submit()">Save</button>
    </form>

    <form *ngIf="selectedIndex === 2" [formGroup]="secondFormGroup" class="secondForm">
      <div>
        <p><strong>Additional Documents:</strong><br>
          <a [href]="'http://localhost:3000/uploads/' + recievedHelper?.additionalDoc" target="_blank">View</a>
        </p>
      </div>
      <div>
        <button (click)="submit()">Save</button>
      </div>
    </form>
  </div>
</div>
