<div *ngIf="!isAddHelperRoute">
  <div class="header">
    <h1>Helpers</h1>
    <mat-icon>more_vert</mat-icon>
  </div>
  <nav class="navbar">
    <div class="nav-left">
      <div>
        <button mat-raised-button [matMenuTriggerFor]="sortMenu">
          <mat-icon>swap_vert_outlined</mat-icon>
        </button>
        <mat-menu #sortMenu="matMenu">
          sort by
          <div>
            <button mat-menu-item (click)="sortHelper('name')"  (click)="$event.stopPropagation()">Helpers Name(A-Z)</button>
            <button mat-menu-item (click)="sortHelper('code')" (click)="$event.stopPropagation()">Employee ID</button>
          </div>
      </mat-menu>
      </div>
      <div>
        <button mat-raised-button [matMenuTriggerFor]="filterMenu">
          <mat-icon>filter_alt_outlined</mat-icon>
        </button>
        <mat-menu #filterMenu="matMenu">
          Filter By
          <div style="padding: 12px;">
            <div mat-menu-item (click)="$event.stopPropagation()">
            <div style="display: flex; justify-content: space-between;">
              <label>Service</label>
              <span style="color: rgb(111,115,189)" *ngIf="serviceFilter.value?.length || 0 > 0" (click)="resetOne('service')">reset</span>
            </div>
            <mat-form-field appearance="outline" (click)="$event.stopPropagation()">
              <mat-select [formControl]="serviceFilter" placeholder="Select Service" multiple (selectionChange)="onSelectionChange($event, 'service')">
                <div>
                  <input matInput placeholder="🔎 search" [formControl]="serviceSearch">
                </div>
                <mat-checkbox
                class="mat-option-pseudo-checkbox"
                [checked]="isAllSelected(serviceFilter)"
                [indeterminate] = "isIndeterminate(serviceFilter)"
                (change) = "toggleAll(serviceFilter)"
                >
                select All
                <mat-divider></mat-divider>
                {{serviceFilter.value?.length}} / {{typeofserviceoptions.length}}
                </mat-checkbox>

                <mat-option *ngFor="let service of filteredServiceOptions" [value]="service">
                  {{service}}
                </mat-option>

                <mat-select-trigger>
                    {{ serviceFilter!.value![0] || '' }}
                    @if (serviceFilter!.value!.length > 1) {
                      <span class="additional-select-languages">
                        +{{ serviceFilter!.value!.length - 1 }}
                      </span>
                    }
                  </mat-select-trigger>
              </mat-select>
            </mat-form-field>
          </div>
          <div mat-menu-item (click)="$event.stopPropagation()">
            <div style="display: flex; justify-content: space-between;">
            <label>Organisation</label>
              <span style="color: rgb(111,115,189)" *ngIf="organisationFilter.value?.length || 0 > 0" (click)="resetOne('org')">Reset</span>
            </div>
            <mat-form-field appearance="outline" (click)="$event.stopPropagation()">
              <mat-select [formControl]="organisationFilter" placeholder="Select Organisation" multiple (selectionChange)="onSelectionChange($event, 'org')">
                <div>
                  <input matInput placeholder="🔎 search" [formControl]="orgSearch">
                </div>
                <mat-checkbox
                class="mat-option-pseudo-checkbox"
                [checked]="isAllSelected(organisationFilter)"
                [indeterminate] = "isIndeterminate(organisationFilter)"
                (change) = "toggleAll(organisationFilter)"
                >
                select All
                <mat-divider></mat-divider>
                {{organisationFilter.value?.length}} / {{organisationoptions.length}}
                </mat-checkbox>

                <mat-option *ngFor="let org of filteredOrgOptions" [value]="org">
                  {{org}}
                </mat-option>

                <mat-select-trigger>
                    {{ organisationFilter!.value![0] || '' }}
                    @if (organisationFilter!.value!.length > 1) {
                      <span class="additional-select-languages">
                        +{{ organisationFilter!.value!.length - 1 }}
                      </span>
                    }
                  </mat-select-trigger>
              </mat-select>
            </mat-form-field>
          </div>
          <mat-divider></mat-divider>
          <div class="filter-buttons">
            <p style="display: flex;" (click)="resetFilters()" (click)="$event.stopPropagation()"><mat-icon>replay_outlined</mat-icon> Reset</p>
            <button mat-raised-button color="primary" (click)="applyFilterAndSearch()">Apply</button>
          </div>
        </div>  
        </mat-menu>
      </div>
      <div>
        <button mat-raised-button>
          <mat-icon>calendar_today</mat-icon>      
        </button>
      </div>
      <div>
        <input type="text" matInput [formControl]="searchField" placeholder="🔎 Name, Employee ID, Phone" class="search-input" >
      </div>
       <div *ngIf="searchField.value==='' && !showResult">
        {{Helpers.length || 0}} Helpers
       </div>
       <div *ngIf="searchField.value!=='' || showResult">
        {{filteredHelpers.length || 0}} of {{Helpers.length || 0}} results
       </div>
    </div>
    <div style="display: flex; gap: 8px;">
      <button mat-raised-button>
        <mat-icon>file_download_outlined</mat-icon>
      </button>
      <button mat-raised-button color="primary" [routerLink]="['/helper/add-helper']">+Add-Helper</button>
    </div>
  </nav>

  <div class="page-content">
    <div class="left-list">
      <div class="helper-item" *ngFor="let helper of filteredHelpers" [ngClass]="{'selected-item': helper === selectedHelper}" (click)="selectHelper(helper)" >
        <div *ngIf="helper.profilePicUrl">
          <img
            class="profile-pic"
            [src]="'http://localhost:3000/uploads/' + helper.profilePicUrl"
            alt="Profile"
          />
        </div>
        <div *ngIf="helper.profilePicUrl===null || helper.profilePicUrl===undefined" class="non-profile-pic">
          {{getInitial(helper.fullName)}}
        </div>
        <div class="helper-details">
          <div class="helper-name">{{ helper.fullName }}</div>
          <div class="helper-service">{{ helper.serviceType }}</div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="profile-section" *ngIf="selectedHelper">
        <div class="helper-profile">
          <div class="image-name-type">
            <div *ngIf="selectedHelper.profilePicUrl">
              <img
                class="profile-pic"
                [src]="'http://localhost:3000/uploads/' + selectedHelper.profilePicUrl"
                alt="Profile"
              />
            </div>
            <div *ngIf="selectedHelper.profilePicUrl===null || selectedHelper.profilePicUrl===undefined" class="non-profile-pic">
              {{getInitial(selectedHelper.fullName)}}
            </div>
            <div class="content-helper-name">
              <h2 style="margin: 0px;">{{ selectedHelper.fullName }}</h2>
              {{ selectedHelper.serviceType }}
            </div>
          </div>
          <div class="edit-delete-buttons">
              <button mat-raised-button (click)="editHelper(selectedHelper._id)">
                <mat-icon>edit_outlined</mat-icon>
              </button>
              <button mat-raised-button (click)="openDeleteDialog()">
                <mat-icon>delete_outlined</mat-icon>
              </button>
          </div>
        </div>
        <div style="display: flex; align-items: center;">
          <span style="color: rgb(154,156,163); font-weight: 500;">
            Employee ID
          </span>
          <span style="flex-grow: 1; margin-left: 10px;">
            <mat-divider></mat-divider>
          </span>
        </div>
        <div class="content-block">
          <div class="display-content"><p>Identification Card:</p>{{ selectedHelper.employeeIDurl }}</div>
          <div class="display-content"><p>Employee code:</p> {{ selectedHelper.employeeCode }}</div>
        </div>
        <div style="display: flex; align-items: center;">
          <span style="color: rgb(154,156,163); font-weight: 500;">
            Personal Details
          </span>
          <span style="flex-grow: 1; margin-left: 10px;">
            <mat-divider></mat-divider>
          </span>
        </div>
        <div class="content-block">
          <div class="display-content"><p>Gender:</p> {{ selectedHelper.gender }}</div>
          <div class="display-content"><p>Language(s):</p> {{ selectedHelper.language.join(', ') }}</div>
          <div class="display-content"><p>Mobile No:</p> {{ selectedHelper.countryCode }}{{selectedHelper.phoneNumber}}</div>
          <div class="display-content"><p>Email:</p> {{ selectedHelper.email || '-'}}</div>
        </div>
        <div style="display: flex; flex-direction: row; align-items: center;">
          <p>KYC Document:</p> <a [href]="'http://localhost:3000/uploads/' + selectedHelper.kycDocUrl" target="_blank" style="display: flex; align-items: center; text-decoration: none;">
          <mat-icon>visibility</mat-icon>  View
          </a>
        </div>
        
        <div style="display: flex; align-items: center;">
          <span style="color: rgb(154,156,163); font-weight: 500;">
            SERVICE DETAILS
          </span>
          <span style="flex-grow: 1; margin-left: 10px;">
            <mat-divider></mat-divider>
          </span>
        </div>
        <div class="content-block">
          <div class="display-content"><p>Type:</p> {{ selectedHelper.serviceType }}</div>
          <div class="display-content"><p>Organisation:</p> {{ selectedHelper.organisationName }}</div>
          <div class="display-content"><p>Date:</p> {{ formatDateTime(selectedHelper.DOJ) }}</div>
        </div>
      </div>
      <div *ngIf="!selectedHelper && filteredHelpers?.length===0">
        No Helpers found
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
 