.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.nav-left{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.page-content {
  display: flex;
  height: calc(100vh - 64px); 
  justify-content: space-between;
}

.left-list {
  width: 300px;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  background-color: rgb(254,254,254);
  margin: 8px;
  border: 1px solid rgb(242,242,242);
  border-radius: 8px;
}

.helper-item {
  display: flex;
  align-items: center;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.2s;
  border-bottom: 1px solid rgb(242,242,242);
}

.helper-item:hover {
  background-color: #e0e0e0;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
}

.helper-details {
  display: flex;
  flex-direction: column;
}

.helper-name {
  font-weight: bold;
  font-size: 16px;
}

.helper-service {
  font-size: 14px;
  color: #666;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: rgb(251,251,251);
  margin: 8px;
  border-radius: 8px;
}
   
.helper-profile{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  margin-bottom: 40px;
}

.content-helper-name{
  display: flex;
  flex-direction: column;
}

.image-name-type{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.non-profile-pic {
  display: flex;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  align-items: center;
  background-color: rgb(210, 207, 207);
  justify-content: center;
  margin-right: 12px;
  
}

.search-input{
  padding: 9px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border: 0.8px solid ;
}

.edit-delete-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}


.filter-buttons {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin-top: 5px;
  
}

p {
  display: flex;
  align-items: flex-start;
  color: gray;
  width: 250px;
}

.display-content {
  display: flex; 
  align-items: center;
  margin: 0px;
}

.content-block {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin: 8px;
}

.helper-item.selected-item{
  background-color: rgb(237,239,251);
}
